.invite-friends{
    background: #fe5e00;
    overflow: hidden;
    padding-bottom: 1rem;
}
.banner{
    background: url(http://file.xcmad.com/dist/images/invitefriends-banner.jpg) no-repeat top center/100% 100%;
    height: 6.3rem;
    width: 100%;
    overflow: hidden;
}
.slogan{
    width: 4.6rem;
    height: .54rem;
    border-radius: .28rem;
    margin: 2.1rem auto .24rem auto;
    background: linear-gradient(#fff, #fecfca);
    font-size: .28rem;
    font-weight: bold;
    color: #ce0610;
    text-align: center;
    line-height: .54rem;
    overflow: hidden;
}
.record{
    width: 93.3333%;
    height: 1.6rem;
    margin: 0 auto .16rem auto;
    padding: .27rem .05rem;
    border-radius: .8rem;
    border: 3px solid #fef17e;
    background: linear-gradient(#ff605f,#ff0d0d);
    overflow: hidden;
}
.record div:nth-of-type(2){
    border-left: 2px solid #fea363;
    border-right: 2px solid #fea363;
}
.unit{
    float: left;
    width: 33.3333%;
    height: 1rem;
    text-align: center;
}
.unit p:nth-of-type(1){
    font-size: .28rem;
    color: #fff;
}
.unit p:nth-of-type(2){
     font-size: .48rem;
     color: #fef17e;
 }
.unit p:nth-of-type(2) span{
    font-size: .28rem;
}
.copy{
    width: .68rem;
    height: .26rem;
    position: absolute;
    right: 0;
    top: 0;
}
.copy>img{
    width: 100%;
    display: block;
}
.code{
    color: #fff;
    font-size: .28rem;
    line-height: .28rem;
    padding-top: 0.26rem;
}
.code span{
    text-decoration: underline;
}
.invitecode{
    width: 48%;
    margin: 0 auto .26rem;
    position: relative;
    height: 0.54rem;
}
.tab{
    width: 91.7333%;
    margin: 0 auto;
}
.tab div{
    float: left;
}
.tab div:nth-of-type(1){
    width: 35.6104%;
    height: .9rem;
    font-size: .32rem;
    font-weight: bold;
    line-height: .9rem;
    color: #e10a08;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background:linear-gradient(#ffe35c,#ffbd14);
}
.tab div:nth-child(n+2){
    width: 31.96%;
    height: .8rem;
    font-size: .28rem;
    line-height: .8rem;
    color: #bf5e09;
    text-align: center;
    background-color: #ff950b;
    margin-top: .1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tab div:nth-child(2){
    margin-left: .2348%;
    margin-right: .2348%;
}
.tab div:nth-child(3){
    margin-left: 0;
    float: right;
}
.main{
    width: 100%;
    background-color: #fe5e00;
    overflow: hidden;
}
.content{
    background: url("http://file.xcmad.com/dist/images/invitefriends-main.png") no-repeat scroll top center/100% 100%;
    width: 94.6666%;
    height: 11.86rem;
    margin: 0 auto;
    overflow: hidden;
}
.supplementary{
    width: 89.5652%;
    height: 1.48rem;
    margin: .45rem  auto .3rem auto;
}
.supplementary>p{
    font-size: .3rem;
    color: #c10101;
}
.supplementary>p>img{
    width:.26rem;
}
.reward-7{
    /*margin-top: .33rem;*/
    margin-left: .44rem;
    height: .69rem;
    overflow: hidden;

}
.reward-7>div:nth-of-type(1){
    float: left;
    width: 55.7971%;
    margin-top: .08rem;
}
.inf-jiangli{
    width: .24rem;
    height: .3rem;
    display: inline-block;
    vertical-align: middle;
}
.jiangliqu{
    display: inline-block;
    font-size: .28rem;
    line-height: .3rem;
    color: #f95821;
}
.reward-7>div:nth-of-type(2){
    /*float: right;*/
    /*right: 1rem;*/
    width: 1.8rem;
    height: .68rem;
    margin-left:71.6%;
    text-indent: 0.15rem;
    background: linear-gradient(to right,#55dc7e,#37b35f);
    border-top-left-radius:.34rem;
    border-bottom-left-radius:.34rem;
    overflow: hidden;
}
.reward-7>div:nth-of-type(2)>a{
    color: #fff;
    font-size:.3rem ;
    text-align: center;
    line-height: .68rem;
    text-decoration:none;
}
.reward-7>div:nth-of-type(2)>a>img{
    width: .1rem;
    height: .18rem;
}
.mingjie{
    width: 91.5493%;
    height:6rem;
    text-align: center;
    margin: 0 auto;
    margin-top: .22rem;
    margin-bottom: .2rem;
    position: relative;
}
.bonus-unit{
    width: 28.9231%;
    height: 1.44rem;
    overflow: hidden;
    float: left;
}
.bonus-unit-1{
    width: 100%;
    height: .8rem;
    background: linear-gradient(to right,#ff8627,#ffb952);
    border-top-right-radius: .15rem;
    border-top-left-radius: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bonus-unit-1>img{
    height: .5rem;
    line-height: .8rem;
}
.bonus-unit-2{
    width: 100%;
    height: .64rem;
    background-color: #fbead0;
    border-bottom-left-radius: .15rem;
    border-bottom-right-radius: .15rem;
}
.bonus-unit-2>p{
    font-size: .24rem;
    line-height: .3rem;
    color: #c10101;
}

.bonus-unit-arrow{
    height: .19rem;
    float: left;
    margin: .62rem .07rem;
}
.bonus-unit-arrow-2{
    height: .28rem;
    float: right;
    right: .85rem;

}
.arrow-21{
    position: absolute;
    top: 1.6rem;
}
.unit-142{
    float: right;
    right: 0;
    position: absolute;
    top: 2rem;

}

.arrow-22{
    position: absolute;
    top: 3.55rem;
}
.unit-200{
    float: right;
    right: 0;
    position: absolute;
    top: 3.96rem;
}
.arrow-41{
    float: right;
    right: 1.85rem;
    position: absolute;
    top:3.98rem;
}
.unit-525{
    float: right;
    right: 2.3rem;
    position: absolute;
    top:3.98rem;
}
.arrow-42{
    float: right;
    right: 4.17rem;
    position: absolute;
    top:3.98rem;
}
.unit-1100{
    float: left;
    left: 0;
    position: absolute;
    top:3.98rem;
}
.arrow-3{
    float: left;
    left: .8rem;
    position: absolute;
    top: 3.55rem;
}
.unit-3450{
    float: left;
    left: 0;
    position: absolute;
    top: 2rem;
}

.arrow-5{
    float: left;
    left: 1.97rem;
    position: absolute;
    top:2rem;
}




.unit-61200{
    float: left;
    left: 2.4rem;
    position: absolute;
    top: 1.72rem;
    background: url('http://file.xcmad.com/dist/images/bonus-unit-61200-bg-yellow.png')  no-repeat scroll top center/100% 100%;
    width: 30.7692%;
    height: 2.14rem;
}
.bonus-unit-3{
    width:100%;
    height: .65rem;
}
.bonus-unit-3>p{
    font-size: .24rem;
    line-height: .7rem;
    color: #c10101;
}
.bonus-unit-4{
    width: 100%;
    height: 1.35rem;
}
.bonus-unit-4>img{
    height: .5rem;
}
.bonus-unit-4>p{
    font-size: .24rem;
    color: #c10101;
}
.unit-img61200{
    height: .5rem;
}



.float-right{
    float: right;
}
.all-money{
    width: 67%;
    height: .7rem;
    border-radius: .35rem;
    background-color: #f63a12;
    font-size: 0.34rem;
    text-align: center;
    line-height: .7rem;
    color: #fff;
    margin: 0 auto 0.6rem auto;
    position: relative;
}
.all-money>img{
    width: .92rem;
    height: .92rem;
    float: left;
    position: relative;
    top:-.18rem;
}
.all-money>p{
    display: inline-block;
    float: left;
}
.all-money>p>span{
    color: #fff353;
}
.withdraw-cash{
    width: 88%;
    margin: 0 auto;
    position: relative;
}
.withdraw-cash>p>img{
    width:.34rem;
    height:.35rem;
}
.withdraw-cash>p{
    float: left;
    line-height: 0.7rem;
    font-size: 0.32rem;
    color:#fff;
}
.withdraw-cash>p>span{
    font-size: 0.38rem;
    color: #ffee83;
}
.withdraw-cash>button{
    width: 2rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    background: #d6d6d6;
    color: #fff;
    font-size: .34rem;
    border-radius: 0.7rem;
    float: right;
    outline: none;
    border: none;
}
.second-content{
    background-color: #fef8eb;
    width: 94.6666%;
    border-radius: .25rem;
    margin:0 auto;
    margin-top: .22rem;
    margin-bottom: .4rem;
    padding-top: .4rem;
}
.content-2-title{
    width: 59.0625%;
    height: .6rem;
    font-size: .36rem;
    color: #fff;
    margin: 0 auto;
    border-radius: .3rem;
    background-color: #fe5e00;
    text-align: center;
    line-height: .6rem;
}
.formula{
    margin: .3rem auto .1rem auto;
    text-align: center;
    color: #c50505;
    font-size: .3rem;
}
.reward{
    margin-top: .4rem;
    margin-bottom: .25rem;
    margin-left: 35%;
    width: 36.40825%;
    height: .33rem;
}
.reward-2{
    margin-bottom: .25rem;
    margin-top: .4rem;
    margin-left: 35%;
    width: 36.40825%;
    height: .33rem;
}
.basicreward{
    position: relative;
    background-color: #ffdc9c;
    width: 90.1408%;
    margin: 0 auto;
    border-radius: .2rem;
 }
.ba-table{
    width: 100%;
    border-right: 1px solid #ffdc9c;
    border-bottom: 1px solid #ffdc9c;
}
.table-title>th{
    font-size: .3rem;
    line-height: .7rem;
    background-color:#ffdc9c;
    color: #f63a12;
    font-weight: 700;
    text-align: center;
}
.table-row>td{
    font-size: .3rem;
    line-height: .7rem;
    background-color: #fff;
    color: #e96332;
    text-align: center;
    border-left: 1px solid #ffdc9c;
    border-top:1px solid #ffdc9c;
}
.table-row>td:first-child{
     width: 39.0625%;
 }
.table-row>td:nth-of-type(2){
    width: 25.625%;
}
.table-exp-1{
    float: right;
    position: absolute;
    top:1.8rem;
    right: .25rem;
    font-size: .3rem;
    color: #e96332;
}
.table-exp-2{
    float: right;
    position: absolute;
    top:3.3rem;
    right: .25rem;
    font-size: .3rem;
    color: #e96332;
}
.reward-3{
    margin-bottom: .25rem;
    margin-top: .4rem;
    margin-left: 30%;
    width: 44.2254%;
    height: .33rem;
}
.table-row-3>td{
    font-size: .3rem;
    line-height: .7rem;
    background-color: #fff;
    color: #e96332;
    text-align: center;
    border-left: 1px solid #ffdc9c;
    border-top:1px solid #ffdc9c;
}

.table-row-3>td:first-child{
    width: 25%;
}
.table-row-3>td:nth-of-type(2){
    width: 45.3125%;
}
.table-exp-3{
    position: absolute;
    top: 2.3rem;
    left: .2rem;
    font-size: .3rem;
    color: #e96332;
    font-weight: 700;
}

.howinvite-title{
    width: 43.9437%;
    height: .6rem;
    margin: .62rem  auto .16rem auto;
    border-radius: .3rem;
    background-color: #fe5e00;
    color: #fff;
    font-size: .36rem;
    line-height: .6rem;
    text-align: center;
}
.explain{
    text-align: center;
    font-size: .28rem;
    color: #fee0ce;
}
.floor{
    margin-top: .45rem;
    width: 100%;
    padding-bottom: .4rem;
}
.floor-flow{
    width: 77.4648%;
    margin: 0 auto;
}
.liucheng-1{
    width: 11.0909%;
    height: .64rem;
}
.liucheng-2{
     width: 10.5454%;
     height: .64rem;
 }
.liucheng-3{
    width: 8.1818%;
    height: .66rem;
}

.flow{
    vertical-align: text-top;
    margin: 0 0.285rem;
    width: 17.647%;
    height: .2rem;
}
.floor-flow-text{
    width: 100%;
    margin-top: .15rem;
}
.floor-flow-text p{
    width: 33%;
    float: left;
    text-align: center;
    color: #f64543;
    font-size: 0.26rem;
}
.floor-flow-text p:nth-child(1){
    padding-right: .2rem;
}
.floor-flow-text p:nth-child(2){
    padding-right: .3rem;
}
.floor-flow-text p:nth-child(3){
    padding-right: 0.45rem;
}

