.turntable {
  background: #fff3f3;
  padding-bottom: 1.94rem;
}
.turntable-animate {
  width: 100%;
  height: 13.2rem;
  position: relative;
  background: url(http://file.xcmad.com/dist/images/turntable-bg.jpg) no-repeat scroll top center / 100% 100%;
}
.turntable-animate .rule-btn {
  display: block;
  text-decoration: none;
  width: 1.66rem;
  height: 0.68rem;
  background: #ff3e3f;
  color: #fef79b;
  font-size: 0.3rem;
  position: absolute;
  top: 2.6rem;
  right: 0;
  border-radius: 0.68rem 0 0 0.68rem;
  z-index: 99;
  text-align: right;
  line-height: 0.68rem;
}
.turntable-animate .rule-btn img {
  width: 0.1rem;
  vertical-align: middle;
  margin-right: 0.05rem;
}
.turntable-animate .lucky-draw {
  top: 4.1rem;
  background: #ff5da6;
}
.turntable-animate .winning-record {
  width: 100%;
  height: 0.58rem;
  background: rgba(174, 62, 255, 0.6);
  overflow: hidden;
}
.turntable-animate .winning-record ul li {
  width: 100%;
  text-align: center;
  height: 0.58rem;
  line-height: 0.58rem;
  color: #fef399;
  font-size: 0.3rem;
  letter-spacing: 1px;
}
.turntable-animate .turntable-suggest {
  padding-top: 0.25rem;
  text-align: center;
}
.turntable-animate .turntable-suggest img {
  width: 60%;
}
.turntable-animate .turntable-suggest p:nth-child(2) {
  font-size: 0.24rem;
  color: #fff;
  margin-bottom: 1rem;
}
.turntable-animate .turntable-suggest p:nth-child(3) {
  font-size: 0.38rem;
  color: #fff;
  margin-bottom: 0.25rem;
}
.turntable-animate .turntable-suggest p:nth-child(3) span {
  color: #fffc00;
  font-size: 0.42rem;
}
.turntable-animate .turntable-suggest p:nth-child(4) {
  font-size: 0.26rem;
  color: #fff;
  margin-bottom: 0.2rem;
}
.turntable-animate .turntable-activity {
  width: 93.3333%;
  padding-bottom: 93.3333%;
  margin: 0 auto;
  background: url(http://file.xcmad.com/dist/images/turntable-big.png) no-repeat scroll top center / 100% 100%;
  position: relative;
}
.turntable-animate .turntable-activity img[alt="pointer"] {
  position: absolute;
  width: 30.5714%;
  height: auto;
  z-index: 10;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: auto;    /* 有了这个就自动居中了 */
}
.turntable-animate .turntable-activity img[alt="turntable"] {
  position: absolute;
  width: 87.7142%;
  height: auto;
  z-index: 5;
  left: 0; top: 0; right: 0; bottom: 0;
  margin: auto;    /* 有了这个就自动居中了 */
  transition: transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-transition: -webkit-transform 4s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.turntable-rule {
  padding-top: 0.42rem;
}
.turntable-rule h3 {
  font-size: 0.34rem;
  color: #593e3a;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.16rem;
}
.turntable-rule ul {
  width: 86%;
  margin: 0 auto;
}
.turntable-rule ul li {
  line-height: 1.5;
  margin-bottom: 0.1rem;
  font-size: 0.28rem;
  color: #593e3a;
}
.turntable-rule ul li span {
  display: inline-block;
}
.turntable-rule ul li span:nth-child(1) {
  width: 0.3rem;
  height: 0.3rem;
  background: #ff356b;
  border-radius: 2px;
  color: #fff;
  font-size: 0.26rem;
  text-align: center;
  line-height: 0.3rem;
  margin-right: 0.05rem;
}
.turntable-record {
  padding-top: 0.5rem;
}
.turntable-record h3 {
  font-size: 0.34rem;
  color: #593e3a;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.2rem;
}
.turntable-record .record-list {
  width: 88.5333%;
  margin: 0 auto;
  padding-bottom: 0.12rem;
  border-radius: 5px 5px 0 0 ;
  background: #fff1cc;
}
.turntable-record .record-list div:nth-child(1) p {
  float: left;
  width: 33%;
  text-align: center;
  font-size: 0.32rem;
  padding: 0.4rem 0 0.28rem;
  color: #c97402;
}
.turntable-record .record-list .no-record {
  width: 94.7142%;
  height: 5.88rem;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}
.turntable-record .record-list .no-record img {
  width: 1.45rem;
  margin: 0.8rem auto 0.4rem;
  display: block;
}
.turntable-record .record-list .no-record p {
  font-size: 0.34rem;
  color: #bcbcbc;
  text-align: center;
}
.turntable-record .record-list ul {
  width: 96.6867%;
  margin: 0 auto;
}
.turntable-record .record-list ul li {
  height: 0.98rem;
}
.turntable-record .record-list ul li p {
  text-align: center;
  width: 33%;
  float: left;
  font-size: 0.28rem;
}
.turntable-record .record-list ul li p:not(:nth-child(2)) {
  line-height: 0.98rem;
}
.turntable-record .record-list ul li p:nth-child(2) {
  padding-top: 0.12rem;
}
.turntable-record .record-list ul li p:last-child {
  color: #67ba79;
}
.turntable-record .record-list ul li:nth-of-type(odd) {
  background: #fff;
}
.turntable-record .record-list ul li:nth-of-type(even) {
  background: #f5f5f5;
}
.turntable-share {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  z-index: 99;
}
.turntable-share ul {
  width: 100%;
}
.turntable-share ul li {
  width: 25%;
  float: left;
  border-right: 2px solid #f6f6f6;
}
.turntable-share ul li a {
  display: block;
  text-decoration: none;
  color: #000;
}
.turntable-share ul li a img {
  display: block;
  width: 100%;
}
.turntable-share ul li a p {
  font-size: 0.3rem;
  text-align: center;
  padding: 0 0 .1rem;
}
.turntable-share ul li:last-child {
  border: none;
}
